.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-body {
  display: flex;
  flex: 1;
}

.Header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

.Sidebar {
  width: 200px;
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.Sidebar ul {
  list-style-type: none;
  padding: 0;
}

.Sidebar ul li {
  margin: 10px 0;
  cursor: pointer;
}

.Sidebar ul li:hover {
  text-decoration: underline;
}

.Main {
  flex: 1;
  padding: 20px;
  background-color: #fff;
}